<h2>レシピ検索システム</h2>
検索：
  <input #keyword size='20' [value]=getCurrentValue() />
  <button (click)='searchRecipe(keyword.value)'>検索</button>
  <form [formGroup] = 'sortForm'>
    <select formControlName='sortType' (change)='sortRecipe($event.target.value)'>
      <option *ngFor='let sort of sortTypeSel'>
        {{ sort }}
      </option>
    </select>
    <button fromControlName='asc_or_des' (click)='changeAsc_or_des()'>{{ asc_or_desText }}</button>
  </form>
<table>
  <tr><th>名前</th><th>所要時間</th><th>ひとこと</th><th>主な材料</th></tr>
  <tr *ngFor='let recipe of recipeData'>
    <td>
      <a routerLink='/recipe-data/{{ recipe.id }}'>{{ recipe.name }}</a>
    </td>
    <td>{{ recipe.minute }}</td>
    <td>{{ recipe.feature }}</td>
    <td>
      <span *ngFor='let item of recipe.ingre; let i=index'>
        <ng-container *ngIf='i < 3'>{{ item.name }}&nbsp;</ng-container>
      </span>
    </td>
  </tr>
</table>
<button routerLink='/add-recipe'>レシピの追加</button>
