レシピの編集
<form [formGroup]='editRecipeForm'>
  <div>
    <label>料理名：<input formControlName='name'></label>
  </div>
  <div>
    <label>ひとこと：<input formControlName='feature'></label>
  </div>
  <div>
    <label>調理時間：
      <select formControlName='minute'>
        <option *ngFor='let minute of minuteSel'>
          {{ minute }}
        </option>
      </select>
    </label>
  </div>
  <div>
    <label>材料：<input formControlName='ingre'></label>
  </div>
  <div>
    <label>人前：
      <select formControlName='serve'>
        <option *ngFor='let serve of serveSel'>
          {{ serve }}
        </option>
      </select>
    </label>
  </div>
</form>
<button (click)='backToRecipeData()'>戻る</button>
<button routerLink='/recipe-list'>更新する</button>
