**レシピ詳細**
<div *ngIf='recipe'>
  <h2>{{ recipe.name }}</h2>
  <p>{{ recipe.feature }}</p>
  <table>
    <tr>
      <td>
        <img width='200' src='/assets/img/pict{{ recipe.id }}.png'></td>
      <td>
        <b>調理時間：</b>{{ recipe.minute }}分<br><br>
        <b>材料 ({{ recipe.serve }}) :</b>
          <ul>
            <li *ngFor='let item of recipe.ingre'>
              {{ item.name }}&nbsp;{{ item.amount }}
            </li>
          </ul>
      </td>
    </tr>
  </table>
</div>
<button (click)='backToList()'>リストに戻る</button>
<button routerLink='/edit-recipe'>レシピの編集</button>
<button routerLink='/recipe-list'>レシピの削除</button>
